apiVersion: apps/v1
kind: Deployment
metadata:
  name: polyfea-controller
  labels:
    app.kubernetes.io/name: polyfea-controller
    app.kubernetes.io/instance: polyfea
    app.kubernetes.io/version: "v0.5.5"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: polyfea-controller
      app.kubernetes.io/instance: polyfea
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: polyfea-controller
      labels:
        app.kubernetes.io/name: polyfea-controller
        app.kubernetes.io/instance: polyfea
    spec:
      serviceAccountName: polyfea-controller
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: polyfea-controller
        image: "ghcr.io/polyfea/polyfea-controller:v0.5.5"
        imagePullPolicy: IfNotPresent
        command:
        - /manager
        args:
        - --leader-elect
        - --health-probe-bind-address=:8081
        env:
        - name: POLYFEA_WEB_SERVER_PORT
          value: "8082"
        ports:
        - name: http
          containerPort: 8082
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi