apiVersion: v1
kind: Service
metadata:
  name: polyfea-polyfea-controller
  labels:
    app.kubernetes.io/name: polyfea-controller
    app.kubernetes.io/instance: polyfea
    app.kubernetes.io/version: "v0.4.1"
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: polyfea-controller
    app.kubernetes.io/instance: polyfea