apiVersion: polyfea.github.io/v1alpha1
kind: WebComponent
metadata:
  name: applications
  labels:
    app.kubernetes.io/name: polyfea-md-shell-samples
    app.kubernetes.io/instance: polyfea
    app.kubernetes.io/version: "2.0.4"
spec:
  microFrontend: polyfea-md-shell
  element: polyfea-md-apps
  attributes: 
    - name: applications-context
      value: applications
  displayRules:
    - allOf:
      - context-name: main-content
      - path: "^(\\.?/)?$"